/* estilos generales */
.titulo-seccion{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 3rem;
}
.btn{
   padding: 10px 60px;
   background: #fff;
   border: 0;
   outline: none;
   cursor: pointer;
   font-size: 22px;
   font-weight: 500;
   border-radius: 30px; 
}
#perfil{
    width: 200px;
}
/* PRINCIPAL */
.principal{    
    background-size: cover;
    background-position: center center;    
}

.principal .contenido{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.principal .contenido header{
    padding: 30px;
}
/* menu lateral */
.principal .contenido header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #000000;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}
.principal .contenido header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

.principal .contenido header .nav-bar{
    position: fixed;
    background-color: #000000;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
}
.principal .contenido header .nav-bar:hover{
    box-shadow: 0 0 35px #fff;
}
.principal .contenido .info{
    padding-bottom: 130px;
}
.principal .contenido .info h1{
    font-family:'Courier New', Courier, monospace; 
    font-size: 3rem;
    letter-spacing: 5px;
}
.principal .contenido .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}
.principal .contenido .info .redes{
    margin: 20px 0;
}
.principal .contenido .info .redes a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #940253;
    border: 1px solid #940253;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}
.principal .contenido .info .redes a:hover{
    color: #fff;
    background-color: #940253;
    box-shadow: 0 0 20px #fff;
}
.principal .contenido .foto{
    position: relative;
}
.principal .contenido .foto img{
    max-width: 200px;
    
    border-radius: 50%;
    border: 5px solid #666;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
}

/* SECCION ABOUT */
.about{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.about .contenido{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.about .contenido h3{
    text-transform: uppercase;
    font-size: 30px;
}
.about .contenido .especial{
    color: #940253;
    font-weight: bold;
    margin-top: 15px;
}
.about .contenido p{
    max-width: 700px;
    margin: auto;
    color: #666;
}
.about .contenido .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.about .contenido .fila .col{
    width: 30%;
}
.about .contenido .fila .col i{
    color: #940253;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #940253;
    line-height: 40px;
    border-radius: 50%;
}
.about .contenido .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}

/* EXPERIENCIA */
.experiencia{
    background-color: #dad7d7;
    padding: 140px 0 100px 0;
    text-align: center;
}
.experiencia .contenido{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.experiencia .contenido h3{
    text-transform: uppercase;
    font-size: 30px;
}
.experiencia .contenido .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.experiencia .contenido .info .col{
    width: 45%;
}
.experiencia .contenido .info .col .titulo{
    display: inline-block;
    color: #940253;
    font-weight: bold;
    border: 2px solid #940253;
    padding: 10px;

}
.experiencia .contenido .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}
.experiencia .contenido .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}
.experiencia .contenido .info .col table h4{
    margin-top: 10px;
}
.experiencia .contenido .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.experiencia .contenido .info .col table p{
    display: block;
    color: #940253;
    margin-top: 14px;
    font-weight: bold;
}
.experiencia .contenido .info .col table .descripcion{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}
/* INTERESES */
.interes{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.interes .contenido{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.interes .contenido h3{
    text-transform: uppercase;
    font-size: 30px;
}
.interes .contenido .especial{
    color: #940253;
    font-weight: bold;
    margin-top: 15px;
}
.interes .contenido .icono{
    width: 10px;
    margin: auto;
}
.interes .contenido p{
    max-width: 700px;
    margin: auto;
    color: #666;
}
.interes .contenido .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.interes .contenido .fila .col{
    width: 30%;
}
.interes .contenido .fila .col i{    
    display: inline-block;
    width: 48px;
    height: 48px;    
    line-height: 40px;    
}
.interes .contenido .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}
/* CONTACTO */
.contacto{
    background-color: #202020;
    padding: 140px 0 100px 0;
    color: #e6e6e6;
    text-align: center;
}
.contacto .contenido{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contacto .contenido h3{
    text-transform: uppercase;
    font-size: 30px;
}
.contacto .contenido .fila{
    display: flex;
    justify-content: space-around;
}
.contacto .contenido .fila .col{
    margin-top: 50px;
}
.contacto .contenido .fila .col h2{
    color: #940253;
}
/* FORMULARIO CONTACTO */
.form-contacto{    
    margin: 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 120%;
}
.form-contacto .form{
    width: 340px;
    height: 440px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vh -40px);
    box-sizing: border-box;
    font-family: "Monserray",sans-serif;
    position: relative;
}
.form-contacto h2{
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: grey;
    border-bottom: 3px solid black;
}
.form-contacto input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Monserray",sans-serif;
    transition: all .3s;
    border-bottom: 2px solid gray;
}
.form-contacto input :focus{
    border-bottom: 2px solid lightblue;
}
.form-contacto p:before{
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: grey;
}
.form-contacto button{
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Monserray",sans-serif;
    border: 2px solid gray;
    background: 0;
    color: black;
    cursor: pointer;
    transition: all .3s;
}
.form-contacto button:hover{
    background: grey;
    color: white;
}
.form-contacto div{
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: black;
    color: white;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 1px 40px -14px #000;
    display: flex;
}
.form-contacto .botones {
    display: contents;
}
.form-contacto span{
    margin: 0 5px 0 15px;
}

.abrir-popup{
   visibility: visible; 
   position: fixed;
   top: 50%;
   transform: translate(-50%,-50%) scale(1);
}
